
.news-con {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #f5f5f5;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
  }
  
  .user-xp {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }
  
  .news-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 90%;
    padding: 10px;
    background: white;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
  
  .news-card {
    display: inline-block;
    width: 250px;
    margin: 10px;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .news-title {
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .news-summary {
    font-size: 0.9em;
    color: #666;
  }
  
  .news-button {
    display: block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #0088cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
  }
  
  .no-news {
    font-size: 1.2em;
    color: #888;
  }
  


  
  @media (max-width: 600px) {
    .news-container {
      width: 100%;
      padding: 5px;
    }
  
    .news-card {
      width: 200px;
    }
  

  }
  