.app-container {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.tabs-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.task-tab {
    padding: 10px;
    cursor: pointer;

}

.active {
    border-bottom: 2px solid #a3e635;
}
.tasks-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    background: #1f1f1f;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.task-info {
    margin-bottom: 10px;
}

.start-task-btn {
    background-color: #a3e635;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}



.scroll-hidden::-webkit-scrollbar {
    display: none;
  }